# Do not share your API key with anyone! It should remain a secret.
OPENAI_API_KEY=
COHERE_API_KEY=
HUGGINGFACE_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
MISTRAL_API_KEY=
TAVILY_API_KEY=
DEEPSEEK_API_KEY=

## LM Studio
LM_STUDIO_API_BASE=
LM_STUDIO_API_KEY= # optional, default is empty

OPENAI_ASSISTANT_ID=asst_your_assistant_id_here
# Enable LiteLLM Debug Logging
LITELLM_LOG_LEVEL=

# If you need to configure different MCP servers, you can set MCP server host. Default is localhost:9393
VTAI_MCP_SERVER_URL="http://localhost:9393"
