# Do not share your API key with anyone! It should remain a secret.
OPENAI_API_KEY=
COHERE_API_KEY=
HUGGINGFACE_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
MISTRAL_API_KEY=
TAVILY_API_KEY=
DEEPSEEK_API_KEY=

# Local providers

## LM Studio
LM_STUDIO_API_BASE=
LM_STUDIO_API_KEY= # optional, default is empty